
<img src="img/flaming.jpg" class="img-fluid h-75" alt="...">

<div class="centered display-3 allcaps rubrik">Welcome to Top10</div>

<div class="card-group">
    {% for tweet in meeps.meeps %}
        <div class="card content">
            <div class="content-overlay"></div>
            <img class="" height="253" src="{{ tweet.cardimg }}" alt="Card image cap">
                <div class="middle">
                    <a href="data/{{ tweet.body }}">
                        <div class="active allcaps text">{{ tweet.body }}</div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>