<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid justify-content-center">
    <a class="navbar-brand" href="#">
      <img
        src="https://www.pngall.com/wp-content/uploads/12/Toppng-PNG-Cutout.png"
        alt=""
        width="30"
        height="24"
        class="d-inline-block align-text-top"></a>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Cool</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Dude</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Man</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Swag</a>
      </li>
    </ul>
  </div>
  {% for item in github.meeps %}
  <li class="navitem">
      <a href="/data/{{item.id}}">
        {{ item.id }}
        </a>
      </li>
    {% endfor %}
</nav>