<nav class="navbar navbarcolor">
  <div class="container-fluid justify-content-center">
    <a class="navbar-brand">
      <img
        src="https://www.pngall.com/wp-content/uploads/12/Toppng-PNG-Cutout.png"
        alt=""
        width="30"
        height="24"
        class="d-inline-block align-text-top"></a>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Tweet us</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/maps">Top 10 Maps</a>
      </li>
    </ul>
  </div>
  </nav>