body {
  font-family: sans-serif;
  background-color: #f9f9f9;
}
.card {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  --ms-transform: translate(-50%, -50%);
  text-align: center;
}

.card-img-top:hover {
  cursor: pointer;
}

.card:hover .image {
  opacity: 0.3;
}

.card:hover .middle {
  opacity: 1;
}
.text:hover {
  background-color: black;
}

.text {
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  padding: 25px 25px;
}
.card {
  border: none;
  min-width: 25%;
}
a {
  text-decoration: none;
}
.titel {
  text-transform: uppercase;
  
}