body {
  font-family: sans-serif;
  background-color: #f9f9f9;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.nav-item{
  font-family: 'Inconsolata', monospace;
  font-size: 2rem;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  --ms-transform: translate(-50%, -50%);
  text-align: center;
}

.card-img-top:hover {
  cursor: pointer;
  
}

.card:hover .image {
  opacity: 0.3;
}

.card:hover .middle {
  opacity: 1;
  cursor: pointer;
}
.allcaps{
  text-transform: uppercase;
}
.cardtext {
  font-family: "Source Code Pro", monospace  ;
  font-size: 1rem;
  color: #e5d4ed;
}
.navbarcolor {
  background-color: #131515;
}
.nav-link {
  color: #ffffff;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rubrik{
  font-size: 6.5rem;
  font-weight: 500;
  font-family: "Source Code Pro", monospace  ;
  text-align: center;
  color: #101010;
  
}
.cardbody{
  background-color: #727072;
}
.nav-link:hover{
  color: #dfc6ea;
}

.text {
  color: white;
  cursor: pointer;
  font-size: 2rem;
  padding: 25px 25px;
}
.card {
  border: none;
  min-width: 25%;
}
a {
  text-decoration: none;
}
.titel {
  text-transform: uppercase;
  color: #e5d4ed;

}
.imgcard {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
hr {
  border-top: 1.5px solid #e5d4ed;
  opacity: 1;
}


// Stilar för contact



