---
layout: base.njk
pagination: 
    data: github.meeps
    size: 1
    alias: data
permalink: "data/{{ data.body | slug }}/"
---

<main class="container">
        <h1 class="titel text-center pt-4">{{ data.body }}</h1>
    <p class="desc text-center ">{{ data.desc }}</p>
</main>