---
layout: base.njk
title: Hello World
---

{% include "components/landing.njk" %}
<div class="card-group">
    {% for tweet in github.meeps %}
        <div class="card">
            <img class="" src="https://picsum.photos/341/341" alt="Card image cap">
                <div class="middle">
                    <a href="data/{{ tweet.body }}">
                        <div class="active allcaps text">{{ tweet.body }}</div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>