---
layout: base.njk
title: Hello World
---

{% include "components/landing.njk" %}
<div class="card-group">
    {% for tweet in meeps.meeps %}
        <div class="card">
            <img class="" height="253px" src="{{ tweet.cardimg }}" alt="Card image cap">
                <div class="middle">
                    <a href="data/{{ tweet.body }}">
                        <div class="active allcaps text">{{ tweet.body }}</div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="card-group">
    {% for maps in football.lines %}
                    <div class="active allcaps text">{{ maps.name }}</div>
        {% endfor %}
    </div>